capture_the_flag/node-red.txt
[{"id":"d8ae31be.5fd1a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2125541b.9a351c","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"0|250|33","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":72,"wires":[["a8f3157b.31a448"]]},{"id":"a8964d34.91004","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"0|250|32","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":112,"wires":[["a8f3157b.31a448"]]},{"id":"bfa8ad73.76f66","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"0|250|36","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":152,"wires":[["a8f3157b.31a448"]]},{"id":"f9befb3f.6b2858","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"1|250|37","payloadType":"str","repeat":"","crontab":"","once":false,"x":128.00000762939453,"y":207.99999856948853,"wires":[["a8f3157b.31a448"]]},{"id":"c4d6e908.956418","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"1|250|33","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":252,"wires":[["a8f3157b.31a448"]]},{"id":"23199350.f2a66c","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"2|250|38","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":312,"wires":[["a8f3157b.31a448"]]},{"id":"e97ce8f3.26ba68","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"2|250|34","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":352,"wires":[["a8f3157b.31a448"]]},{"id":"bda467ee.9e2578","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"3|250|34","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.9999948600307,"y":603.9999742507935,"wires":[["a8f3157b.31a448"]]},{"id":"2874e45f.78b6cc","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"3|250|36","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":452,"wires":[["a8f3157b.31a448"]]},{"id":"a8f3157b.31a448","type":"function","z":"d8ae31be.5fd1a","name":"","func":"//Serial Data like 0|250|32\n//station_ID|raw_rssi|channel\n\nvar indata = msg.payload;\nvar captime = 1000;\nvar senddata= [];\n\nsenddata = indata.trim().split(\"|\");\n//node.warn(senddata)\nvar once = context.get('once')||0;\n    if (once === 0){\n            node.warn('first')\n            channel32timer = setTimeout(function(){},10);\n            channel33timer = setTimeout(function(){},10);\n            channel34timer = setTimeout(function(){},10);\n            channel35timer = setTimeout(function(){},10);\n            channel36timer = setTimeout(function(){},10);\n            channel37timer = setTimeout(function(){},10);\n            channel38timer = setTimeout(function(){},10);\n            channel39timer = setTimeout(function(){},10);\n            var scorered = 0;\n            var scoreblue =0;\n        context.set('once',1)\n    }\n\nvar stationcolor=context.get('stationcolor')||['GREY','GREY','GREY','GREY','GREY','GREY'];\nvar tickets = 500;\nvar teamlevelred  = context.get('teamlevelred')||[0,0,0,0,0,0];\nvar teamlevelblue = context.get('teamlevelblue')||[0,0,0,0,0,0];\nvar channel32present = context.get('channel32present')||0;\nvar channel33present = context.get('channel33present')||0;\nvar channel34present = context.get('channel34present')||0;\nvar channel35present = context.get('channel35present')||0;\nvar channel36present = context.get('channel36present')||0;\nvar channel37present = context.get('channel37present')||0;\nvar channel38present = context.get('channel38present')||0;\nvar channel39present = context.get('channel39present')||0;\nvar scorered = context.get('scorered')||0;\nvar scoreblue = context.get('scoreblue')||0;\n\n\nvar stationid=senddata[0];\nvar channel=senddata[2];\n\nfunction captureflagred(stationid){\n        if((stationcolor[stationid] != \"RED\") && (teamlevelred[stationid] > teamlevelblue[stationid])){\n            stationcolor[stationid] = \"RED\";\n            context.set('stationcolor', stationcolor);\n            //scorered = context.get('scorered');\n            scorered = scorered + 10;\n            context.set('scorered', scorered);\n            node.send({payload: [stationcolor, scorered, scoreblue]})\n            //node.send({payload: JSON.stringify({id:stationid, level: teamlevelred[stationid], color: \"red\", score: scorered})})\n        }\n}\nfunction captureflagblue(stationid){\n        if((stationcolor[stationid] != \"BLUE\") && (teamlevelblue[stationid] > teamlevelred[stationid])){\n            stationcolor[stationid] = \"BLUE\";\n            context.set('stationcolor', stationcolor);\n            //scoreblue = context.get('scoreblue');\n            scoreblue = scoreblue + 10;\n            context.set('scoreblue', scoreblue);\n            node.send({payload: [stationcolor, scorered, scoreblue]})\n            //node.send({payload: JSON.stringify({id:stationid, level: teamlevelblue[stationid], color: \"blue\", score: scoreblue})})\n        }\n}\n\nswitch (channel){\n    case \"32\":  if (channel32present === 0){\n                    teamlevelred[stationid] ++;\n                    context.set('teamlevelred', teamlevelred)\n                    context.set('channel32present', 1);\n                }\n                scorered = scorered + 1;\n                node.send({payload: [stationcolor, scorered, scoreblue]})\n                //node.send({payload: JSON.stringify({id:stationid, level: teamlevelred[stationid], color: \"red\", score: scorered})})\n                captureflagred(stationid);\n                clearTimeout(channel32timer);\n                channel32timer = setTimeout(function(){\n                    teamlevelred  = context.get('teamlevelred')    \n                    teamlevelred[stationid] > 0 ? teamlevelred[stationid] -- : 0;\n                    context.set('teamlevelred', teamlevelred)\n                    context.set('channel32present', 0);\n                },captime)\n                break;\n    case \"33\":  if (channel33present === 0){\n                    teamlevelred[stationid] ++;\n                    context.set('teamlevelred', teamlevelred)\n                    context.set('channel33present', 1);\n                }\n                scorered = scorered + 1;\n                node.send({payload: [stationcolor, scorered, scoreblue]})\n                //node.send({payload: JSON.stringify({id:stationid, level: teamlevelred[stationid], color: \"red\", score: scorered})})\n                captureflagred(stationid);\n                clearTimeout(channel33timer);\n                channel33timer = setTimeout(function(){\n                    teamlevelred  = context.get('teamlevelred')\n                    teamlevelred[stationid] > 0 ? teamlevelred[stationid] -- : 0;\n                    context.set('teamlevelred', teamlevelred)\n                    context.set('channel33present', 0);\n                },captime)\n                break;    \n    case \"34\":  if (channel34present === 0){\n                    teamlevelred[stationid] ++;\n                    context.set('channel34present', 1);\n                }\n                scorered = scorered + 1;\n                node.send({payload: [stationcolor, scorered, scoreblue]})\n                captureflagred(stationid);\n                clearTimeout(channel34timer);\n                channel34timer = setTimeout(function(){\n                    teamlevelred  = context.get('teamlevelred')\n                    teamlevelred[stationid] > 0 ? teamlevelred[stationid] -- : 0;\n                    context.set('teamlevelred', teamlevelred)\n                    context.set('channel34present', 0);\n                },captime)\n                break;  \n    case \"35\":  if (channel35present === 0){\n                    teamlevelred[stationid] ++;\n                    context.set('channel35present', 1);captureflagred(stationid);\n                }\n                scoreblue = scoreblue + 1;\n                node.send({payload: [stationcolor, scorered, scoreblue]})\n                captureflagred(stationid);\n                clearTimeout(channel35timer);\n                channel35timer = setTimeout(function(){\n                    teamlevelred  = context.get('teamlevelred')\n                    teamlevelred[stationid] > 0 ? teamlevelred[stationid] -- : 0;\n                    context.set('teamlevelred', teamlevelred)\n                    context.set('channel35present', 0);\n                },captime)\n                break; \n    case \"36\":  if (channel36present === 0){\n                    teamlevelblue[stationid] ++\n                    context.set('teamlevelblue', teamlevelblue)\n                    context.set('channel36present', 1);\n                }\n                scoreblue = scoreblue + 1;\n                node.send({payload: [stationcolor, scorered, scoreblue]})\n                captureflagblue(stationid);\n                clearTimeout(channel36timer);\n                channel36timer = setTimeout(function(){\n                    teamlevelblue  = context.get('teamlevelblue')\n                    teamlevelblue[stationid] > 0 ? teamlevelblue[stationid] -- : 0;\n                    context.set('teamlevelblue', teamlevelblue)\n                    context.set('channel36present', 0);\n                },captime)\n                break;\n    case \"37\":  if (channel37present === 0){\n                    teamlevelblue[stationid] ++\n                    context.set('channel37present', 1);\n                }\n                scoreblue = scoreblue + 1;\n                node.send({payload: [stationcolor, scorered, scoreblue]})\n                captureflagblue(stationid);\n                clearTimeout(channel37timer);\n                channel37timer = setTimeout(function(){\n                    teamlevelblue  = context.get('teamlevelblue')\n                    teamlevelblue[stationid] > 0 ? teamlevelblue[stationid] -- : 0;\n                    context.set('teamlevelblue', teamlevelblue)\n                    context.set('channel37present', 0);\n                },captime)\n                break;\n    case \"38\":  if (channel38present === 0){\n                    teamlevelblue[stationid] ++\n                    context.set('channel38present', 1);\n                }\n                scoreblue = scoreblue + 1;\n                node.send({payload: [stationcolor, scorered, scoreblue]})\n                captureflagblue(stationid);\n                clearTimeout(channel38timer);\n                channel38timer = setTimeout(function(){\n                    teamlevelblue  = context.get('teamlevelblue')\n                    teamlevelblue[stationid] > 0 ? teamlevelblue[stationid] -- : 0;\n                    context.set('teamlevelblue', teamlevelblue)\n                    context.set('channel38present', 0);\n                },captime)\n                break;\n    case \"39\":  if (channel39present === 0){\n                    teamlevelblue[stationid] ++\n                    context.set('channel39present', 1);\n                }\n                scoreblue = scoreblue + 1;\n                node.send({payload: [stationcolor, scorered, scoreblue]})\n                captureflagblue(stationid);\n                clearTimeout(channel39timer);\n                channel39timer = setTimeout(function(){\n                    teamlevelblue  = context.get('teamlevelblue')\n                    teamlevelblue[stationid] > 0 ? teamlevelblue[stationid] -- : 0;\n                    context.set('teamlevelblue', teamlevelblue)\n                    context.set('channel39present', 0);\n                },captime)\n                break;            \n}\n//node.warn(\"teamlevelred \"+teamlevelred);\n//node.warn(\"teamlevelblue \"+teamlevelblue);\ncontext.set('teamlevelred', teamlevelred);\ncontext.set('teamlevelblue', teamlevelblue);\ncontext.set('scorered', scorered);\ncontext.set('scoreblue', scoreblue);\n\n","outputs":1,"noerr":0,"x":436.99997329711914,"y":357.00000190734863,"wires":[["aca9f544.4bf198","8f49ddf9.99532","1690db27.2fc345","6d613107.e9f2e","149a0b26.bb7205"]]},{"id":"1a2bcfb.48a293","type":"debug","z":"d8ae31be.5fd1a","name":"","active":true,"console":"false","complete":"false","x":1403.9763870239258,"y":170.96088409423828,"wires":[]},{"id":"2699f73.7a6f608","type":"serial in","z":"d8ae31be.5fd1a","name":"","serial":"bbcd6bfc.54f408","x":473.5,"y":65,"wires":[["a8f3157b.31a448","1a2bcfb.48a293"]]},{"id":"f3f72ebf.f5abc","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"3|250|34","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.00000143051147,"y":513.0000333786011,"wires":[["a8f3157b.31a448"]]},{"id":"846b339d.e006c","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"3|250|39","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":126,"y":558,"wires":[["a8f3157b.31a448"]]},{"id":"b6ab28e1.8bb998","type":"function","z":"d8ae31be.5fd1a","name":"","func":"var franz = context.get(\"franz\")||0;\nfranz =franz+10;\ncontext.set(\"franz\", franz);\nmsg.payload = franz;\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":755.999979019165,"wires":[[]]},{"id":"8f727327.1621a","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":208,"y":722,"wires":[["b6ab28e1.8bb998"]]},{"id":"f50a14eb.bfa978","type":"debug","z":"d8ae31be.5fd1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1592.3331413269043,"y":403.6667308807373,"wires":[]},{"id":"c3734384.992fa","type":"serial out","z":"d8ae31be.5fd1a","name":"","serial":"70856b04.7315c4","x":1272.8948135375977,"y":435.539005279541,"wires":[]},{"id":"60249eed.14ca9","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\n\n\nmsg.payload=\"P_RAW 26 3 2 1\"+indata[0][0].substr(0,1);\nreturn msg;","outputs":1,"noerr":0,"x":1761.0194215774536,"y":501.00385570526123,"wires":[[]]},{"id":"edad1ecd.a12d7","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\n\n\nmsg.payload=\"P_RAW 26 4 2 2\"+indata[0][1].substr(0,1);\nreturn msg;","outputs":1,"noerr":0,"x":1762.0194215774536,"y":562.0038774013519,"wires":[[]]},{"id":"811b5a34.329018","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\n\n\nmsg.payload=\"P_RAW 26 5 2 3\"+indata[0][2].substr(0,1);\nreturn msg;","outputs":1,"noerr":0,"x":1755.0194215774536,"y":616.0038557052612,"wires":[[]]},{"id":"db84436f.02f7e","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\n\n\nmsg.payload=\"P_RAW 26 6 2 4\"+indata[0][3].substr(0,1);\nreturn msg;","outputs":1,"noerr":0,"x":1754.0194215774536,"y":682.0038557052612,"wires":[[]]},{"id":"aca9f544.4bf198","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\nvar alength=indata[1].toString().length;\nvar blength=indata[2].toString().length;\nvar clength=8;\nvar fulllength=(alength+blength+clength);\n\n\n\nmsg.payload=\"P_RAW 15 2 \"+fulllength+\" \"+indata[1]+\" \"+indata[2]+\" \"+indata[0][0].substr(0,1)+indata[0][1].substr(0,1)+indata[0][2].substr(0,1)+indata[0][3].substr(0,1)+indata[0][4].substr(0,1)+indata[0][5].substr(0,1);\nreturn msg;","outputs":1,"noerr":0,"x":878.0193939208984,"y":299.0038471221924,"wires":[["c3734384.992fa","f50a14eb.bfa978"]]},{"id":"2d174149.f5f6ce","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\n\n\nmsg.payload=\"P_RAW 26 7 2 5\"+indata[0][3].substr(0,1);\nreturn msg;","outputs":1,"noerr":0,"x":1758.1596689224243,"y":755.8796129226685,"wires":[[]]},{"id":"a928823d.24383","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\n\n\nmsg.payload=\"P_RAW 26 8 2 6\"+indata[0][3].substr(0,1);\nreturn msg;","outputs":1,"noerr":0,"x":1768.1596689224243,"y":820.8796129226685,"wires":[[]]},{"id":"8469588f.a4c918","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"5|250|32","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":364.0115661621094,"y":518.0277709960938,"wires":[["a8f3157b.31a448"]]},{"id":"8ed2fcde.df298","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"5|250|39","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":409.0115623474121,"y":604.0277872085571,"wires":[["a8f3157b.31a448"]]},{"id":"9870c72e.a08608","type":"ui_text","z":"d8ae31be.5fd1a","group":"e5e6752f.6d7458","order":0,"width":"2","height":"3","name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":950.4398193359375,"y":84.50464057922363,"wires":[]},{"id":"8f49ddf9.99532","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\n\n\nmsg.payload=indata[1]+\" \"+indata[2];\nreturn msg;","outputs":1,"noerr":0,"x":634.4929885864258,"y":126.39813232421875,"wires":[["9870c72e.a08608"]]},{"id":"689da39e.2717ac","type":"ui_text","z":"d8ae31be.5fd1a","group":"e5e6752f.6d7458","order":0,"width":"2","height":"4","name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":891.3194427490234,"y":218.91436958312988,"wires":[]},{"id":"1690db27.2fc345","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\n\n\nmsg.payload=\"<br>\"+indata[0][0]+\"<br>\"+indata[0][1]+\"<br>\"+indata[0][2]+\"<br>\"+indata[0][3]+\"<br>\"+indata[0][4]+\"<br>\"+indata[0][5];\nreturn msg;","outputs":1,"noerr":0,"x":666.0856018066406,"y":253.24999237060547,"wires":[["689da39e.2717ac"]]},{"id":"6d60c4c5.14527c","type":"file in","z":"d8ae31be.5fd1a","name":"","filename":"c:/iso_GSOSD.osd","format":"lines","chunk":false,"sendError":false,"x":408.5115966796875,"y":865.9306030273438,"wires":[["63d78548.344a7c"]]},{"id":"f8acbf55.2a052","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107.25,"y":865.6875610351562,"wires":[["6d60c4c5.14527c"]]},{"id":"63d78548.344a7c","type":"delay","z":"d8ae31be.5fd1a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":651.5115966796875,"y":859.6481781005859,"wires":[["c3734384.992fa"]]},{"id":"b9ff1f78.43c45","type":"ui_audio","z":"d8ae31be.5fd1a","name":"","group":"e5e6752f.6d7458","voice":"de-DE","always":true,"x":871.4347591400146,"y":171.85419845581055,"wires":[]},{"id":"6d613107.e9f2e","type":"function","z":"d8ae31be.5fd1a","name":"","func":"\nvar indata =msg.payload;\n\n\nmsg.payload=indata[1]+\" \"+indata[2];\nreturn msg;","outputs":1,"noerr":0,"x":699.8463439941406,"y":202.0104217529297,"wires":[[]]},{"id":"149a0b26.bb7205","type":"debug","z":"d8ae31be.5fd1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":467.0226821899414,"y":227.10794976353645,"wires":[]},{"id":"38c949fd.3c83a6","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":" CLEAR ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1132.4204263687134,"y":271.5492343902588,"wires":[["c3734384.992fa"]]},{"id":"a0fafcb9.2180f","type":"function","z":"d8ae31be.5fd1a","name":"","func":"node.send({payload: \" CLEAR \"});\nnode.send({payload: \" P_RAW 15 4 12 Hallo \"+msg.payload});\n//node.send({payload: \"Hallo \"});\n//node.send({payload: msg.payload});\n//node.send({payload: \"Patric\"});\n//node.send({payload: \"\"});\n","outputs":1,"noerr":0,"x":1373.360990524292,"y":298.71524715423584,"wires":[["c3734384.992fa"]]},{"id":"5751b19c.232dc","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"Patric","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1072.3641713460286,"y":215.91854095458982,"wires":[["a0fafcb9.2180f"]]},{"id":"491b54f4.73c30c","type":"inject","z":"d8ae31be.5fd1a","name":"","topic":"","payload":"123456","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1047.490478515625,"y":180.0094757080078,"wires":[["a0fafcb9.2180f"]]},{"id":"bbcd6bfc.54f408","type":"serial-port","z":"","serialport":"COM8","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n\\r","bin":"false","out":"char","addchar":false},{"id":"70856b04.7315c4","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"e5e6752f.6d7458","type":"ui_group","z":"","name":"Default","tab":"f8a45c19.c712a","disp":true,"width":"6","collapse":false},{"id":"f8a45c19.c712a","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]